html{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 90%;
    margin: 1%;
    padding: 1%;
    background-color: #212121;
    color: #9e9e9e;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.certificates {
    margin: 2%;
}

.certificates img {
    height: 300px;
    width: 300px;
}

.certificates img:hover {
    transform: scale(2);
}

.certificates a {
    margin: 5% 5%;
}

.link {
    color: red;
}