html{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 90%;
    width: 100%;
    margin: 1%;
    padding: 1%;
    background-color: #212121;
    color: #9e9e9e;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    align-items: center;
}

.skills {
    padding-right: 4%;
    border: solid #9e9e9e;
    box-shadow:#9e9e9e 0px 1px 4px;
    font-family: cursive;
}

.skills ul {
    list-style: none;
}

.skills li h2 {
    margin-bottom: 8%;
    border-bottom: solid #9e9e9e;
}

.proof {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow:#9e9e9e 0px 1px 4px;
    border: solid #9e9e9e;
    padding: 2%;
}

.coding {
    margin-top: 10%;
}

.coding {
    display: grid;
    grid-template-columns: auto auto auto;
}

.coding img {
    height: 50px;
    width: 50px;
    margin: 2%;
}

.link {
    color: red;
}

.projects {
    margin-top: 10%;
}

.projects h2 {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2%;
}

.projects ul {
    list-style: none;
}

.projects li {
    margin: 5%;
}